# .env.example template
BASE_URL=your-site-user-goes-here
AUTH_POPUP_USER=your-auth-popup-user-goes-here
AUTH_POPUP_PASSWORD=your-auth-popup-password-goes-here
LOGIN_EMAIL=your-login-email-goes-here
LOGIN_PASSWORD=your-login-password-goes-here
VRT_APIURL=your-vrt-apiurl-goes-here
VRT_PROJECT=your-vrt-project-goes-here
VRT_APIKEY=your-vrt-apikey-goes-here
VRT_BRANCHNAME=your-vrt-branchhere-goes-here