# .env.example template
LOGGER_LEVEL=your-logger-level-goes-here
BASE_URL=your-site-user-goes-here
AUTH_POPUP_USER=your-auth-popup-user-goes-here
AUTH_POPUP_PASSWORD=your-auth-popup-password-goes-here
LOGIN_EMAIL=your-login-email-goes-here
LOGIN_PASSWORD=your-login-password-goes-here
GOOGLE_AUTH_EMAIL=your-google-auth-email-goes-here
GOOGLE_AUTH_KEY=your-google-auth-key-goes-here
CONFIG_SHEET_ID=your-config-sheet-id-goes-here
VRT_BUILDPREFIX=your-vrt-build-prefix-goes-here
VRT_APIURL=your-vrt-apiurl-goes-here
VRT_APIKEY=your-vrt-apikey-goes-here
VRT_BRANCHNAME=your-vrt-branchhere-goes-here